.card {
  perspective: 150rem;
  position: relative;
  height: 30rem;
  width: 30rem;

  &__img {
    height: 30rem;
    width: 30rem;
  }

  &__side {
    position: absolute;
    height: 30rem;
    width: 30rem;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    border-radius: 1.5rem;
    overflow: hidden;

    &--front {
      @media only screen and (max-width: $bp-tablet-landscape) {
        display: none;
      }
    }

    &--back {
      transform: rotateY(180deg);
      background-color: var(--color-primary-grey);

      @media only screen and (max-width: $bp-tablet-landscape) {
        transform: rotateY(0deg);
      }

      padding: 1.5rem 0rem;
      transition: translateY 0s unset 0.8s;

      display: grid;
      grid-template-rows: min-content min-content min-content 1fr;
      grid-template-columns: 1fr;
      row-gap: 1rem;
      justify-items: stretch;
      align-items: center;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__project-title {
    grid-row: 1 / 2;
    @include cardText;
  }

  &__tech-container {
    grid-row: 2 / 3;
    justify-self: stretch;
    @include cardText;

    display: grid;
    grid-template-rows: 3rem 3rem 3rem;
    grid-template-columns: 1fr;
  }

  &__tech-title {
    grid-row: 1 / 2;
    text-align: center;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &--top {
      grid-row: 2 / 3;
    }

    &--bottom {
      grid-row: 3 / 4;
    }
  }

  &__description {
    @include cardText;
    grid-row: 3 / 4;
  }

  &__btn-box {
    grid-row: 4 / 5;
    display: flex;
    justify-content: space-evenly;
  }

  &__btn {
    height: 4rem;
    padding: 0.45rem 0.8rem;
    background-color: var(--color-primary-grey);
    border: 0.2rem solid var(--color-accent-blue);
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0.9rem 1.5rem black;
    transition: all 0.07s ease;

    &:active {
      transform: scale(0.95);
      box-shadow: none;
    }

    &--disabled {
      box-shadow: none;
      border: 0.2rem solid var(--color-secondary-dark);
      cursor: default;
    }
  }

  &__portfolio-site {
    &--back {
      @media only screen and (max-width: $bp-tablet-landscape) {
        background-image: url(../img/portfolio-site.png);
        background-size: cover;
        background-position: top;
      }
    }
  }

  &__canvas {
    &--back {
      @media only screen and (max-width: $bp-tablet-landscape) {
        background-image: linear-gradient(
            to right bottom,
            rgba(38, 38, 38, 0.5),
            rgba(38, 38, 38, 0.5)
          ),
          url(../img/canvas.png);
        background-size: cover;
        background-position: top;
      }
    }
  }

  &__star-social {
    &--back {
      @media only screen and (max-width: $bp-tablet-landscape) {
        background-image: linear-gradient(
            to right bottom,
            rgba(38, 38, 38, 0.5),
            rgba(38, 38, 38, 0.5)
          ),
          url(../img/star-social.png);
        background-size: cover;
        background-position: top;
      }
    }
  }

  &__nexter {
    &--back {
      @media only screen and (max-width: $bp-tablet-landscape) {
        background-image: linear-gradient(
            to right bottom,
            rgba(38, 38, 38, 0.5),
            rgba(38, 38, 38, 0.5)
          ),
          url(../img/nexter.png);
        background-size: cover;
        background-position: top;
      }
    }
  }

  &__trillo {
    &--back {
      @media only screen and (max-width: $bp-tablet-landscape) {
        background-image: linear-gradient(
            to right bottom,
            rgba(38, 38, 38, 0.5),
            rgba(38, 38, 38, 0.5)
          ),
          url(../img/trillo.png);
        background-size: cover;
        background-position: top;
      }
    }
  }

  &__recipe-api {
    &--back {
      @media only screen and (max-width: $bp-tablet-landscape) {
        background-image: linear-gradient(
            to right bottom,
            rgba(38, 38, 38, 0.5),
            rgba(38, 38, 38, 0.5)
          ),
          url(../img/recipe-api.png);
        background-size: cover;
        background-position: top;
      }
    }
  }

  &__natours {
    &--back {
      @media only screen and (max-width: $bp-tablet-landscape) {
        background-image: linear-gradient(
            to right bottom,
            rgba(38, 38, 38, 0.5),
            rgba(38, 38, 38, 0.5)
          ),
          url(../img/natours.png);
        background-size: cover;
        background-position: top;
      }
    }
  }

  &__tech-blog {
    &--back {
      @media only screen and (max-width: $bp-tablet-landscape) {
        background-image: linear-gradient(
            to right bottom,
            rgba(38, 38, 38, 0.5),
            rgba(38, 38, 38, 0.5)
          ),
          url(../img/tech-blog.png);
        background-size: cover;
        background-position: top;
      }
    }
  }
}
