<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Tony's Site</title>
  </head>
  <body>
    <!-- INTRO PAGE WITH CANVAS -->
    <canvas class="intro__canvas"></canvas>
    <header id="Intro" class="intro">
      <section class="intro__title-box">
        <p class="intro__line1 t3 t3--blue">Hello, my name is</p>
        <p class="intro__line2 t1 t1--white">
          Anthony Tummillo<span class="t1 t1--blue">.</span>
        </p>
        <p class="intro__line3 t2 t2--blue">I build things on the web.</p>
      </section>
      <button id="intro-button" class="intro__btn b1">
        <section class="intro__btn--container">
          <span>Checkout my work</span>
          <svg class="intro__btn--icon">
            <use xlink:href="#icon-right-arrow"></use>
          </svg>
        </section>
      </button>
    </header>

    <!-- SIDEBARS -->
    <div class="sidebar sidebar--1"></div>
    <div class="sidebar sidebar--2"></div>

    <!-- NAVIGATION -->
    <nav id="Nav" class="nav">
      <div class="nav__top-container">
        <svg class="nav__logo">
          <use xlink:href="#personal-logo"></use>
        </svg>
        <div class="nav__link-container">
          <div class="nav__link--box"><a class="navlink--text nl">Home</a></div>
          <div class="nav__link--box">
            <a class="navlink--text nl">About</a>
          </div>
          <div class="nav__link--box">
            <a class="navlink--text nl">Skills</a>
          </div>
          <div class="nav__link--box">
            <a class="navlink--text nl">Contact</a>
          </div>
          <div class="nav__link--box">
            <a class="navlink--text nl">Portfolio</a>
          </div>
          <button class="nav__link--btn b2">Resume</button>
        </div>
      </div>
      <div class="nav__side-container">
        <div class="nav__vert-line"></div>
        <svg class="nav__social-icon">
          <use xlink:href="#icon-github"></use>
        </svg>
        <svg class="nav__social-icon">
          <use xlink:href="#icon-linkedin"></use>
        </svg>
        <svg class="nav__social-icon">
          <use xlink:href="#icon-codepen"></use>
        </svg>
      </div>
    </nav>

    <!-- ABOUT SECTION -->
    <section id="About" class="about">
      <div class="about__title section-title__container">
        <p class="section-title__title t2 t2--white">About me</p>
        <div class="section-title__line"></div>
      </div>
      <span class="about__text txt txt--light"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate
      </span>
      <div class="about__picture-container">
        <img src="profile-picture.png" alt="A picture of Tony himself." />
        <div class="about__picture-backdrop"></div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
</html>
