.about {
  grid-row: 3 / 4;
  grid-column: 2 / 3;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 2fr 1fr;
  column-gap: 3.5rem;

  @media only screen and (max-width: $bp-phone) {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 1fr;
  }

  &__picture-container {
    grid-row: 2 / 3;
    grid-column: 2 / 2;

    @media only screen and (max-width: $bp-phone) {
      grid-row: 4 / 5;
      grid-column: 1 / -1;
      justify-self: center;

      margin-top: 3.5rem;
    }

    display: flex;

    &:hover {
      div {
        transform: translateX(-0.2rem) translateY(-0.2rem);
        border-color: var(--color-accent-purple);

        @media only screen and (max-width: $bp-phone) {
          transform: translateX(-0.2rem) translateY(-0.2rem);
        }
      }
    }
  }

  &__img {
    position: relative;
    height: 37.5rem;
    width: 30rem;
    margin-bottom: 7rem;

    @media only screen and (max-width: $bp-phone) {
      height: 30rem;
      width: 24rem;
    }
  }

  &__title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  &__text {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;

    &--1 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &--2 {
      grid-row: 3 / 4;
      grid-column: 1 / -1;
    }
  }

  &__paragraph {
    margin-bottom: 1.5rem;

    &--1 {
      grid-row: 1 / 2;
    }

    &--2 {
      grid-row: 2 / 3;
    }

    &--3 {
      grid-row: 3 / 4;
    }

    &--6 {
      margin-bottom: 0rem;
    }
  }

  &__link {
    color: var(--color-accent-blue);
    text-decoration: none;
  }

  &__picture-backdrop {
    position: absolute;
    z-index: -1;
    height: 37.9rem;
    width: 30.4rem;
    transition: all 0.5s ease;
    transform: translate(3.5rem, 3.5rem);
    border-radius: 2.5rem;
    border: 0.5rem solid var(--color-secondary-blue);

    @media only screen and (max-width: $bp-phone) {
      height: 30.4rem;
      width: 24.4rem;
      border-radius: 2rem;
      transform: translate(1.75rem, 1.75rem);
    }
  }
}
