// RESPONSIVE BREAKPOINTS
$bp-laptop: 87.5em; //1400px
$bp-tablet-landscape: 62.5em; //1000px
$bp-tablet-portrait: 50em; //800px
$bp-phone: 37.5em; //600pxcle

:root {
  // COLOR VARIABLES
  --color-primary-grey: #262626;
  --color-primary-white: #f0f2f2;

  --color-secondary-blue: #2f6580;
  --color-secondary-light: #688ea1;
  --color-secondary-dark: #425a66;

  --color-accent-blue: #0099e6;
  --color-accent-purple: #9d50e6;

  // FONT VARIABLES
  --font-primary: "Titillium Web", sans-serif;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: var(--color-primary-grey);
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-laptop) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-tablet-landscape) {
    font-size: 37.5%;
  }

  @media only screen and (max-width: $bp-tablet-portrait) {
    font-size: 25%;
  }

  @media only screen and (max-width: $bp-phone) {
    font-size: 12.5%;
  }
}

body {
  display: grid;
  grid-template-rows: 100vh 7rem min-content min-content min-content min-content 23rem min-content;
  grid-template-columns: 1fr 100rem 1fr;
}
