html {
  font-family: var(--font-primary);
}

.t1 {
  font-weight: 600;
  font-size: 5.4rem;
  cursor: default;

  &--white {
    color: var(--color-primary-white);
  }

  &--blue {
    color: var(--color-secondary-blue);
  }
}

.t2 {
  font-weight: 600;
  font-size: 3.6rem;
  cursor: default;

  &--blue {
    color: var(--color-secondary-blue);
  }

  &--white {
    color: var(--color-primary-white);
  }

  &--grey {
    color: var(--color-primary-grey);
  }
}

.t3 {
  font-weight: 600;
  font-size: 2.4rem;
  cursor: default;

  &--blue {
    color: var(--color-secondary-blue);
  }

  &--dark {
    color: var(--color-secondary-dark);
  }

  &--purple {
    color: var(--color-accent-purple);
  }
}

.b1 {
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--color-accent-blue);
}

.b2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-accent-blue);

  &--disabled {
    color: var(--color-secondary-dark);
  }
}

.nl {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-primary-white);
}

// .nl--mobile {
//   font-size: 3rem;
//   font-weight: 600;
//   color: var(--color-primary-grey);
// }

.b1-mobile {
  font-weight: 600;
  font-size: 3.2rem;
  color: var(--color-accent-blue);
}

.txt {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
  cursor: default;

  &--light {
    color: var(--color-secondary-light);
  }
}

.form {
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  font-size: 1.6rem;
  color: black;

  &::placeholder {
    font-family: var(--font-primary);
    font-weight: var(--font-regular);
    font-size: 1.6rem;
    color: rgba(38, 38, 38, 0.5);
  }
}

.f1 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  cursor: default;

  &--purple {
    color: var(--color-accent-purple);
  }

  &--white {
    color: var(--color-primary-white);
  }
}

.ic {
  font-size: 1.2rem;
  line-height: 2rem;
  cursor: default;
  color: var(--color-secondary-dark);
}

.card-desc {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-secondary-light);
}

.card-tech {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-secondary-light);
}

.card-tli {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-accent-purple);
}
