html {
  font-family: var(--font-primary);
}

.t1 {
  font-weight: 600;
  font-size: 5.4rem;
}

.t2 {
  font-weight: 600;
  font-size: 3.6rem;
}

.t3 {
  font-weight: 600;
  font-size: 2.4rem;
}

.b1 {
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--color-accent-blue);
}
